{% extends 'base.html' %}

{% block body %}

<!-- Navigation -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
            <a class="navbar-brand" href="/">CourseNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-10">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/community">Community</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
  
        </div>
  
    
  



       </div>
  
    </div>
  </nav>


<!-- end Navigation -->




<!-- Heading -->

<div class="head position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
    style="background: url('https://images.pexels.com/photos/5079287/pexels-photo-5079287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')center center/cover no-repeat; "
>
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="head-text display-3 fw-bold text-white">Create a new Post</h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

<!-- end Heading -->

<br>

<!-- Form -->
<div class="form-post col-md-7 col-lg-8 m-auto">
   
    <form class="needs-validation" method="post">
        {{ form.csrf_token }}
      <div class="row g-3">

          <div class="col-12">
            <label for="title" class="form-label"><b>Title</b></label>
            {{ form.title }}
          </div>

          <div class="col-12">
            <label for="subtitle" class="form-label"><b>Subtitle</b></label>
            {{ form.subtitle }}
          </div>
          
          <div class="col-12">
            <label for="img_url" class="form-label"><b>Image heading</b></label>
            {{ form.img_url }}
          </div>

          <div class="content-post col-12">
            <label for="content" class="form-label"><b>Post Content</b></label>
            {{ form.content }}
          </div>


          {{ ckeditor.load() }}
          {{ ckeditor.config(name='content') }}
        
     </form>
    
    <hr class="my-4">
      
    <div class="text-center">
      {{ form.submit }}
    </div>
  
 
  </div>
</div>


<!-- end Form -->

<br><br>
<!-- Footers -->

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Leimarl's Portfolio</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
  
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/leimaaarl">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
  </svg></a>
        </li>
  
        <li class="ms-3"><a class="text-body-secondary" href="#">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
  </svg>
  
        </a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>
  
  <!-- end Footers -->

{% endblock %}